*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body .main-container{
    box-shadow: 2px 2px 40px black;
    width: 400px;
    margin: 10px;
   
}
body{
    display: flex;
    justify-content: center;
    margin-top: 200px;

}
input , button{
    border-radius: 5px;
}
button:hover{
    color: white;
}